
# Helm secrets
helm/ai-tourist/values-dev.yaml
helm/*/values-dev.yaml
**/values-dev.yaml

# Kubernetes
*.kubeconfig

# Build logs
/tmp/*_build.log
/tmp/helm_deploy.log

# Port forwarding PIDs
*.pid
.env.yaml
.env
/.venv
/frontend/dist
helm/ai-tourist/values.yaml
helm/ai-tourist/secrets.yaml
